.cardDiv{
    margin: 10px;
    width: 120%;

}
.newsList{
    list-style: none;
    display: flexbox;
    /* margin-top: 20%; */
}
img{
    height: 120px;
    width: 130px;
}
.cardDiv{
    padding: 10px;
    border-radius: 10px;
}
.heading-sub{
    text-align: center;
}
.heading-sub2{
    text-align: center;
    color: green;
}
.bookedLable{
    color: green;
}
.deleteLable{
    color: red;
}